Flask-Login==0.4.1
Flask-SQLAlchemy==2.3.2
Flask-Migrate==2.2.1
Flask==1.0.2
Flask-WTF==0.14.2
itsdangerous==0.24
SQLAlchemy==1.2.9
Flask-Uploads==0.2.1
Werkzeug==0.14.1
WTForms==2.2.1
python-dateutil==2.7.3
gunicorn==19.9.0