Flask-Login==0.5.0
Flask-SQLAlchemy==2.4.1
Flask-Migrate==2.5.2
Flask==1.1.1
Flask-WTF==0.14.3
itsdangerous==1.1.0
SQLAlchemy==1.3.13
Flask-Uploads==0.2.1
Werkzeug==0.16.1
WTForms==2.2.1
python-dateutil==2.8.1
gunicorn==20.0.4
wordninja==2.0.0
tqdm
