#topheader .navbar-nav li > a {
  color: #333;
  -webkit-transition: background-color 0.2s, color 0.2s;
  transition: background-color 0.2s, color 0.2s;
}
#topheader .navbar-nav li > a:hover, #topheader .navbar-nav li > a:focus {
  background-color: #333;
  color: #fff;
}

#topheader .navbar-nav li.active > a {
  background-color: #333;
  color: #fff;
}
