{% extends "base.html" %}
{% from "_form_macros.html" import render_field %}

{% block content %}
    <h1>Upload handshake capture</h1>
    <form action="" method="post" enctype="multipart/form-data" onchange="updateEstimatedRuntime()">
        <!-- csrf_token is in hidden_tag -->
        {{ form.hidden_tag() }}
        {{ render_field(form.wordlist) }}
        {{ render_field(form.rule) }}
        <p>Estimated runtime: <span id="runtime">{{ form.runtime }}</span></p>
        {{ render_field(form.timeout) }}
        {{ render_field(form.workload) }}
        {{ render_field(form.brain) }}
        {{ render_field(form.capture) }}
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}

{% block scripts %}
<script src="http://code.jquery.com/jquery.js"></script>
<script>
    function updateEstimatedRuntime() {
        $.post("/estimate_runtime", {
            wordlist: document.querySelector('input[name="wordlist"]:checked').value,
            rule: document.querySelector('input[name="rule"]:checked').value,
        })
        .done(function(response) {
            $('#runtime').text(response);
        });
    }
</script>
{% endblock %}