{% extends "base.html" %}
{% from "_form_macros.html" import render_field, render_inline %}

{% block content %}
    <h1>Upload handshake capture</h1>
    <form action="" method="post" enctype="multipart/form-data" onchange="updateEstimatedRuntime()">
        <!-- csrf_token is in hidden_tag -->
        {{ form.hidden_tag() }}
        {{ render_field(form.wordlist) }}
        {{ render_field(form.rule) }}
        <p>Estimated runtime: <span id="runtime">{{ form.runtime }}</span></p>
        {{ render_field(form.timeout) }}
        {{ render_field(form.workload) }}
        {{ render_inline(form.brain) }}
        <div id="brain-client-feature-div" style="display: none;">
        {{ render_field(form.brain_client_feature) }}
        </div>
        {{ render_field(form.capture) }}
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}

{% block scripts %}
<script src="http://code.jquery.com/jquery.js"></script>
<script>
    function updateEstimatedRuntime() {
        $.post("/estimate_runtime", {
            wordlist: document.querySelector('input[name="wordlist"]:checked').value,
            rule: document.querySelector('input[name="rule"]:checked').value,
        })
        .done(function(response) {
            $('#runtime').text(response);
        });
    }

    const brain_checkbox = document.getElementById('brain');
    const brain_feature = document.getElementById('brain-client-feature-div');

    brain_checkbox.addEventListener('change', (event) => {
      if (event.target.checked) {
        brain_feature.style.display = "block";
      } else {
        brain_feature.style.display = "none";
      }
    })

</script>
{% endblock %}