{% extends "base.html" %}

{% block content %}
<h2>Uploaded captures</h2>
<p>Hashcat WPA/WPA2 benchmark speed: <b>{{ benchmark.speed }}</b> H/s.
    Last update: {{ benchmark.date }}
    <button onclick="updateBenchmark()">Update</button>
</p>
<form action="" method="post">
    <table>
        <tr>
            <th>#</th>
            <th>Filename</th>
            <th>Date</th>
            <th>Progress</th>
            <th>Duration</th>
            <th>Wordlist</th>
            <th>Rule</th>
            <th>Status</th>
            <th>Found Key</th>
        </tr>
        {%- for row_id, task in enumerate(tasks) %}
        <tr id="task{{ task.id }}">
            <td>{{ row_id }}</td>
            <td>{{ basename(task.filepath) }}</td>
            <td>{{ task.uploaded_time.strftime('%Y-%m-%d %H:%M') }}</td>
            <td class="progress">{{ task.progress }} %</td>
            <td>{{ task.duration }}</td>
            <td>{{ task.wordlist }}</td>
            <td>{{ task.rule }}</td>
            <td class="status">{{ task.status }}</td>
            <td class="found_key">{{ task.found_key }}</td>
        </tr>
        {%- endfor %}
    </table>
</form>
{% endblock %}


{% block scripts %}
<script src="http://code.jquery.com/jquery.js"></script>
<script>
    function updateBenchmark() {
       $.ajax({
            url : '/benchmark',
            type : 'GET'
       }).done(function(message) {
            alert(message)
       })
    }

    $(document).ready(function() {
        $.ajax({
            url : '/progress',
            type : 'GET'
        }).done(function(response) {
            $.each(response, function(index, data) {
                var $task_row = $("#task" + data.task_id);
                $task_row.find("td.progress").text(data.progress + " %");
                $task_row.find("td.status").text(data.status);
                $task_row.find("td.found_key").text(data.found_key);
            });
        })
        setTimeout(arguments.callee, 10000);
    });
</script>
{% endblock %}